ServerActive=ßß§$$$rplceremoteHost$$$§ßß
Server=ßß§$$$rplceremoteHost$$$§ßß
Hostname=ßß§$$$rplceClientUid$$$§ßß
TLSConnect=psk
TLSAccept=psk
TLSPSKFile=/etc/zabbix/psk.psk
TLSPSKIdentity=Autopower Client
