{
    "postgresString": "user=autopower_client password=ßß§$$$rplacePw$$$§ßß host=localhost dbname=autopower_client",
    "privKeyPath": "/etc/mmclient/client.key",
    "pubKeyPath": "/etc/mmclient/client.cer",
    "pubKeyCA": ""
}