{
    "postgres": {
      "host": "localhost",
      "database": "autopower",
      "user": "autopower",
      "password": ""
    },
    "ssl": {
      "privKeyPath": "server.key",
      "pubKeyPath": "server.cer",
      "pubKeyCA": "ca.cer"
    },
    "allowedMgmtClients": {'WEB':'webhash', 'CLI':'clihash'}
}