{
    "postgres": {
      "host": "localhost",
      "database": "autopower",
      "user": "autopower",
      "password": ""
    },
    "ssl": {
      "privKeyPath": "",
      "pubKeyPath": "",
      "pubKeyCA": ""
    },
    "mgmtId": "WEB",
}