{% extends "mainlayout.html" %}
{% block title %}Manage {{ deviceUid | e }}{% endblock %}
{% block main %}
{% block head %}
{{ super() }}
<link href="{{ url_for('static', filename='deviceMgmt.css' )}}" rel="stylesheet" />
{% endblock %}
<h2>{{ deviceUid | e}}</h2>
{% if showDelete %}
<div class="modal fade" id="confirmDeletionModal" tabindex="-1" aria-labelledby="confirmDeletionLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="confirmDeletionLabel">Delete everything related to "{{ deviceUid | e }}"?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>
            Do you want to really want to permanently delete this device including <strong>all measurement samples</strong>, measurements, log messages and links to runs "{{ deviceUid | e }}?
            This cannot be undone and is a distructive action. There is no way to recover the data once deleted.
            </p>
            <p>
              If yes, type "Yes, I am aware of the consequences and want to delete <span class="samplecount">a lot of</span> samples!" and confirm:
            </p>
          <input type="text" id="deleteText" class="form-control" name="deleteConfirmation" required>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
          <button type="button" class="btn btn-danger" id="deleteBtnConfirm" data-bs-dismiss="modal" disabled>Yes. Permanently delete all data related to "{{ deviceUid | e }}"</button>
        </div>
      </div>
    </div>
</div>
{% endif %}
<div class="deviceManagementControls">
    <div>Last seen {{ lastSeen | e }}</div>
    <div id="ip" class="mb-2">IP: <span class="unknownIp">Maybe </span><code class="p-2" id="ipLabel">{{ lastIp | e }}</code></div>
    <div class="alert alert-info p-2" id="deviceConnectivityStatus">No connection status yet</div>
    <div class="bg-light p-2">
        <div class="alert alert-info p-2" id="deviceStatus">No status</div>
        <div class="row p-2">
            <button type="button" class="btn btn-danger col-sm" id="stopMsmtBtn" disabled>Stop measurement</button>
            <button type="button" class="btn btn-primary col-sm" id="pingBtn">Check connectivity with device</button>
        </div>
        <div class="row pt-2">
            <form method="POST" id="startMsmtForm" action="{{ url_for('startMeasurementAtDevice', deviceUid=deviceUid) }}">
                <label for="msmtSamplingInt">Sampling interval [ms]</label>
                <input type="number" id="msmtSamplingInt" name="msmtSamplingInt" class="form-control" value="500">
                <label for="msmtUploadInt">Upload interval [min]</label>
                <input type="number" id="msmtUploadInt" name="msmtUploadInt" class="form-control" value="1">
                <label for="msmtPpDevSel">Measurement target</label>
                <select name="msmtPpDevSel" id="msmtPpDevSel" class="form-select">
                    <option value="CPU">CPU</option>
                    <option value="MCP1">MCP1</option>
                    <option value="MCP2">MCP2</option>
                </select>
                <button type="submit" class="btn btn-primary form-control mt-2" id="startMsmtBtn" disabled>Start measurement</button>
            </form>
        </div>
    </div>
    <div>
        <h3>Measurements</h3>
        <div>
            {% for measurement in autopowerDevMeasurements %}
            <div class="mt-2 bg-light border p-2" id="smsmtid-{{ measurement.shared_measurement_id.replace(':','-') | e }}">
                <div class="msmtActive alert alert-success p-1" style="display: none;">
                    Active measurement
                </div>
                <h4><a href="{{ url_for('manageMeasurement', measurementId=measurement.server_measurement_id) }}">{{ measurement.shared_measurement_id | e }}</a></h4>
                <div class="measurementDetail" data-measurementid="{{ measurement.server_measurement_id | e }}">
                    Click to update first/last sample.
                </div>
                {% if measurement.run_id %}
                <div>Run <span class="runid"><a href="{{ url_for('manageRun', runId=measurement.run_id) }}">{{ measurement.run_id | e }}</a></span></div>
                <div>Dut <span class="dutid"><a href="{{ url_for('manageDut', dutId=measurement.dut_id) }}">{{ measurement.dut_name | e }}</a></span></div>
                {% else %}
                <div>Not part of any run. <a href="{{ url_for('manageMeasurement', measurementId=measurement.server_measurement_id) }}">Edit measurement</a> to add run.</div>
                {% endif %}
                <div> <a href="{{ url_for('downloadMsmt', measurementId=measurement.server_measurement_id)}}">Download raw .csv</a></div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% if showDelete %}
<div class="text-end">
    <button class="btn btn-danger mt-3" id="openDeleteBtn" data-bs-toggle="modal" data-bs-target="#confirmDeletionModal">Delete everything related to {{ deviceUid | e }}</button>
</div>
{% endif %}
<script src="{{ url_for('static', filename='formAJAXSubmit.js') }}"></script>
<script>
    let numSamples = "a huge number of";
    var msg = $("#deviceStatus");

    function updateStatus() {
        $(document).ready(function() {
            $.getJSON("{{ url_for('getDeviceStatus', deviceUid=deviceUid) }}", null,function(resp, status, xhr) {
            if (resp.status) {
                setAlertSeverity(msg,"alert-danger");
                msg.text(resp.status);
            } else {
                if (!resp.inMeasuringMode) {
                    setAlertSeverity(msg,"alert-secondary");
                    msg.text("Not measuring");
                    $("#stopMsmtBtn").prop('disabled', true);
                    $("#startMsmtBtn").prop('disabled', false);
                    $("#msmtSamplingInt").prop('disabled',false);
                    $("#msmtUploadInt").prop('disabled', false);
                    $("#msmtPpDevSel").prop('disabled', false);
                    $(".inProgress").removeClass("inProgress");
                } else if (resp.inMeasuringMode && !resp.ppHasExited && resp.ppHasWrittenOnce) {
                    setAlertSeverity(msg,"alert-info");
                    msg.text("Measuring id " + resp.measurementSettings.sharedMsmtId);
                    $("#stopMsmtBtn").prop('disabled', false);
                    $("#startMsmtBtn").prop('disabled', true);
                    $("#msmtSamplingInt").val(resp.measurementSettings.ppSamplingInterval).prop('disabled',true);
                    $("#msmtUploadInt").val(resp.measurementSettings.uploadInterval).prop('disabled', true);
                    $("#msmtPpDevSel").val(resp.measurementSettings.ppDevice).prop('disabled',true);
                    $(".inProgress").removeClass("inProgress");
                    $("#smsmtid-" + resp.measurementSettings.sharedMsmtId.replace(/:/g,'-')).addClass("inProgress");
                } else {
                    setAlertSeverity(msg,"alert-warning");
                    msg.text("Not yet measuring. If this occurs on multiple reloads, please check for errors.");
                }
            }
        });
        });
    }
    $(document).ready(async function() {
        // get available ppdevices
        $.getJSON("{{ url_for ('getPpDeviceList', deviceUid=deviceUid) }}", null, function(devResp, devStatus, devXhr) {
            if (!devResp.status) {
                console.log(devResp);
                let options = "";
                devResp.forEach(function(ppOption) {
                    options += "<option value=\"" + escape(ppOption.alias) + "\">" + escape(ppOption.alias) + "</option>" 
                });
                $("#msmtPpDevSel").html(options);
            }
        });
        updateStatus();
        // load number of measurement samples for deletion overlay
        numSamples = await fetch("{{ url_for('getTotalSampleCountOfDevice', deviceUid=deviceUid) }}")
        .then(async function (r) {
        if(r.ok) {
            return r.json();
        } else {
            let bdy = await r.text();
            throw Error(r.status + "; " + r.statusText + ". Response from server: " + bdy);
        }
        }).then(p => p["numSamples"])
        .catch(function (err) {
          msg.text(err);      
        });
        $(".samplecount").text(numSamples);

        function monitorDeleteText() {
            if ($("#deleteText").val() == "Yes, I am aware of the consequences and want to delete "+numSamples+" samples!") {
              $("#deleteBtnConfirm").prop("disabled", false);
            } else {
              $("#deleteBtnConfirm").prop("disabled", true);
            }
        }

        $("#deleteText").on("keydown", monitorDeleteText);
        $("#deleteText").on("keyup", monitorDeleteText);


        $("#stopMsmtBtn").click(function() {
            $("#stopMsmtBtn").prop("disabled",true);
            $("#stopMsmtBtn").text("Stopping measurement...");
            $.ajax({url:"{{ url_for('stopMeasurementAtDevice', deviceUid=deviceUid) }}", success: function(res) {
                $("#stopMsmtBtn").text("Stop measurement");
                $("#stopMsmtBtn").prop("disabled",false);
                updateStatus();
            },
            error:function(xhr) {
                setAlertSeverity(msg,"alert-danger");
                msg.text("Error: " + xhr.status +  "; " + xhr.statusText + ". Response from server: " + xhr.responseText);
                $("#stopMsmtBtn").prop("disabled",false);
            }});
        });
        var deviceConnectStatusBox = $("#deviceConnectivityStatus");
        $("#pingBtn").click(function() {
            $("#pingBtn").prop("disabled", true);
            $.ajax({url:"{{url_for('requestIntroduceClient', deviceUid=deviceUid)}}", success:function(res){
                if (res.msg == "PONG") {
                    setAlertSeverity(deviceConnectStatusBox,"alert-success");
                    deviceConnectStatusBox.text("Checked online");
                } else {
                    setAlertSeverity(deviceConnectStatusBox,"alert-warning");
                    deviceConnectStatusBox.text("Did't receive response from device in time.");
                }
                $("#pingBtn").prop("disabled", false);
            },
            error:function(xhr) {
                setAlertSeverity(deviceConnectStatusBox,"alert-danger");
                deviceConnectStatusBox.text("Error: " + xhr.status +  ". " + xhr.statusText + ": " + xhr.responseText);
                $("#pingBtn").prop("disabled", false);
            }});
        });

        // get IP address if available
        $.ajax({url:"{{url_for('requestIntroduceClient', deviceUid=deviceUid)}}", success:function(res){
                if (res.msg == "PONG" && res.peer != null) {
                    $(".unknownIp").hide();
                    $("#ipLabel").text(res.peer);
                    setAlertSeverity(deviceConnectStatusBox,"alert-success");
                    deviceConnectStatusBox.text("Online");
                } else {
                    setAlertSeverity(deviceConnectStatusBox,"alert-warning");
                    deviceConnectStatusBox.text("Unknown connectivity");
                }
            },
            error:function(xhr) {
                setAlertSeverity(deviceConnectStatusBox,"alert-warning");
                if (xhr.status == 404) {
                    deviceConnectStatusBox.text("Not found/registered");
                } else {
                    deviceConnectStatusBox.text("Unknown connectivity");
                }

            }});
        // measurement form AJAX
        makeAjaxForm(
            $(startMsmtForm), 
            function(resp) {
                        $("#startMsmtBtn").text("Start measurement");
                        updateStatus();
            },
            function(xhr) {
                    setAlertSeverity(msg,"alert-danger");
                    msg.text("Error: " + xhr.status +  "; " + xhr.statusText + ". Response from server: " + xhr.responseText);
                    $("#startMsmtBtn").prop("disabled", false);
                    $("#startMsmtBtn").text("Start measurement");
            }
        );

        // get the sample counts of the measurements
        $(".measurementDetail").click(async function () {
            const sampleDetail = $(this);
            sampleDetail.text("Please wait...");
            sampleDetail.html('First sample at <strong><time class="startSample">?</time></strong>, Last sample at <strong><time class="endSample ">?</time></strong>');
            const measurementId = sampleDetail.attr("data-measurementid");
            // client side hack to build the sample count url
            let timeRangeUrl = "{{ url_for('getMeasurementTimeRange', measurementId='-toreplace-') }}";

            timeRangeUrl = timeRangeUrl.replace("-toreplace-", measurementId);

            startEnd = await fetch(timeRangeUrl)
            .then(async function (r) {
                if(r.ok) {
                    return r.json();
                } else {
                    let bdy = await r.text();
                    throw Error(r.status + "; " + r.statusText + ". Response from server: " + bdy);
                }
            });
            const protStartSampleDate = Date.parse(startEnd["min_timestamp"]);
            const protEndSampleDate = Date.parse(startEnd["max_timestamp"]);
            const startSampleDate = new Date(protStartSampleDate);
            const endSampleDate = new Date(protEndSampleDate);
            $(sampleDetail).find(".startSample").text(startSampleDate.toLocaleString());
            $(sampleDetail).find(".endSample").text(endSampleDate.toLocaleString());
        });
        // delete everyhing danger button
        $("#deleteBtnConfirm").click(async function() {
            if ($("#deleteText").val() == "Yes, I am aware of the consequences and want to delete "+numSamples+" samples!") {
                let res = await fetch("{{url_for('deleteDevice', deviceUid=deviceUid)}}", {
                "method": "DELETE"
                }).then(async function(r) {
                    if(r.ok) {
                        return r.json();
                    } else {
                        let bdy = await r.text();
                        throw Error(r.status + "; " + r.statusText + ". Response from server: " + bdy);
                    }
                }).catch(function (err) {
                    $(".deviceManagementControls").text(err);
                    return;       
                });

                $("#openDeleteBtn").hide();
                $(".deviceManagementControls").text("Deleted: " + res["deleted"] + " and all respective data.");
            }

        });
    });
</script>
{% endblock %}