{% extends "mainlayout.html" %}
{% block title %}Manage {{ sharedMsmtId | e }}{% endblock %}
{% block main %}
<h2>{{ sharedMsmtId | e}}</h2>
<div>Measured with <span class="msmtDevice">{{ clientUid | e}}</span></div>
{% if showDelete %}
<button id="deleteBtn" class="btn btn-danger mb-2" data-bs-toggle="modal" data-bs-target="#confirmDeletionModal">Delete {{ sharedMsmtId | e }}</button>
{% endif %}
<div class="bg-light border p-2">
    <div class="alert p-2" id="mmStatus">Manage measurement</div>
    <form id="mmForm" method="POST" action="{{ url_for('updateMeasurement', measurementId=measurementId) }}">
        <label for="run">Run</label>
        <select id="run" name="runId" class="form-select">
        {% for run in runsOfThisDevice %}
          <option value="{{ run.run_id | e }}" {% if (run.run_id == currRun) %}selected{% endif %}>{{ run.run_id | e }}</option>
        {% endfor %}
        </select>
        <button id="saveMmBtn" type="submit" class="btn btn-primary form-control mt-2">Save</button>
    </form>
</div>
{% if showDelete %}
<div class="modal fade" id="confirmDeletionModal" tabindex="-1" aria-labelledby="confirmDeletionLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="confirmDeletionLabel">Delete measurement "{{ sharedMsmtId | e }}"</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          Do you want to permanently delete measurement "{{ sharedMsmtId | e }}" and <span class="samplecount">some</span> samples?
        </p>
        <p>
          If yes, type "Yes, I want to delete <span class="samplecount">some</span> samples!" and confirm:
        </p>
        <input type="text" id="deleteText" class="form-control" name="deleteConfirmation" required>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" id="deleteBtnConfirm" data-bs-dismiss="modal" disabled>Delete measurement "{{ sharedMsmtId | e }}"</button>
      </div>
    </div>
  </div>
</div>

{% endif %}
<script src="{{ url_for('static', filename='formAJAXSubmit.js') }}"></script>
<script>
  let numSamples = "some";
  var msg = $("#mmStatus");
  $(document).ready(async function() {
    // load number of measurement samples for deletion overlay
    numSamples = await fetch("{{ url_for('getSampleCount', measurementId=measurementId) }}")
    .then(async function (r) {
      if(r.ok) {
        return r.json();
      } else {
        let bdy = await r.text();
        throw Error(r.status + "; " + r.statusText + ". Response from server: " + bdy);
      }
    }).then(p => p["numSamples"])
    .catch(function (err) {
      msg.text(err);      
    });
    $(".samplecount").text(numSamples);
    makeAjaxForm(
      $(mmForm),
      function(resp) {
        $("#mmForm").hide();
        msg.text("Saved measurement");
        setAlertSeverity(msg, "alert-success");
      },
      function(xhr) {
        msg.text("Error: " + xhr.status +  "; " + xhr.statusText + ". Response from server: " + xhr.responseText);
        setAlertSeverity(msg, "alert-danger");
        $("#saveMmBtn").prop("disabled", false);
      }
    );

    function monitorDeleteText() {
        if ($("#deleteText").val() == "Yes, I want to delete " + numSamples + " samples!") {
          $("#deleteBtnConfirm").prop("disabled", false);
        } else {
          $("#deleteBtnConfirm").prop("disabled", true);
        }
    }

    $("#deleteText").on("keydown", monitorDeleteText);
    $("#deleteText").on("keyup", monitorDeleteText);

    $("#deleteBtnConfirm").click(function() {
      if ($("#deleteText").val() == "Yes, I want to delete " + numSamples + " samples!") {
        $.ajax({url:"{{ url_for('deleteMeasurement', measurementId=measurementId) }}",
        type: "DELETE",
          success:function() {
            $("#mmForm").text("Deleted");
            $("#deleteBtn").hide();
          },
          error:function(xhr) {
            $("#mmForm").text("Error: " + xhr.status +  "; " + xhr.statusText + ". Response from server: " + xhr.responseText);
            $("#deleteBtn").hide();
          }
        });
      }
    });
  });
</script>
{% endblock %}