{% extends "mainlayout.html" %}
{% block title %}Autopower Management Home{% endblock %}
{% block head %}
  {{ super() }}
  <link href="{{ url_for('static', filename='startpage.css') }}" rel="stylesheet" />
  <script src="{{ url_for('static', filename='jquery.timeago.js') }}"></script>

{% endblock %}
{% block main %}
<div class="autopowerDeviceFilter">
    <form>
        <input type="checkbox" id="showOnlyRecents">
        <label for="showOnlyRecents" name="showOnlyRecents">Only show devices last seen less than a month ago</label>
    </form>
</div>
<div class="autopowerDevicesList d-flex">
    {% for device in autopowerDevices %}
    <div class="d-flex justify-content-lg-between align-items-start flex-column autopowerDevice bg-light border p-2 mt-2">
        <a href="{{ url_for('deviceManagementPage', deviceUid=device.client_uid) }}" class="text-decoration-none"><h2>{{ device.client_uid | e }}</h2></a>
        <div class="metadata">
            <div class="alert p-2 autopowerDeviceStatus alert-secondary" id="status-{{ device.client_uid | e }}" data-apcluid="{{ device.client_uid | e }}">Unknown</div>
            <div>Last seen <span data-lastseen="{{ device.last_seen | e }}" class="lastSeenTimestamp">{{ getTimeAgo(device.last_seen) | e }}</span></div>
        </div>
        <div class="controls">
            <a href="{{ url_for('deviceManagementPage', deviceUid=device.client_uid) }}" class="btn btn-primary">Manage {{ device.client_uid | e }}</a>
        </div>
    </div>
    {% endfor %}
</div>
<script>
    $(document).ready(function() {

        function applyFilterRecentDevices(doFilter) {
            $(".autopowerDevice").each(function() {
                if (doFilter) {
                    const deviceLastSeen = new Date($(this).find(".lastSeenTimestamp").attr("data-lastseen"));
                    var longAgo = new Date();
                    longAgo.setMonth(longAgo.getMonth() - 1); // 1 month ago means that this device is considered "old"
                    if (deviceLastSeen < longAgo) {
                        $(this).removeClass("d-flex");
                        $(this).hide();
                    } else {
                        $(this).addClass("d-flex");
                        $(this).show();
                    }
                } else {
                    $(this).addClass("d-flex");
                    $(this).show();
                }
            });
        }

        if (localStorage.getItem("filterRecents") == "1") {
            $("#showOnlyRecents").prop("checked", true);
        } else {
            $("#showOnlyRecents").prop("checked", false);
        }
        
        applyFilterRecentDevices(localStorage.getItem("filterRecents") == "1");

        $("#showOnlyRecents").change(function() {
            // filter checkbox changer
            if (this.checked) {
                localStorage.setItem("filterRecents", "1");
            } else {
                localStorage.setItem("filterRecents", "0");
            }

            applyFilterRecentDevices(this.checked);
        });

        $("time.timeago").timeago(); // init timeago
        $(".lastSeenTimestamp").each(function() {
            var timeBox = $(this);
            var lsTimestamp = new Date(timeBox.data("lastseen"));

            var longAgo = new Date();
            longAgo.setHours(longAgo.getHours() - 6);
            
            if (lsTimestamp < longAgo) {
                timeBox.addClass("text-warning");
            }
        });
        $(".autopowerDeviceStatus").each(function() {
            // for each status label of the autopower device, check the status
            var clientUid = $(this).data("apcluid");
            var statusBox = $(this);

            // get only data from the database unless clicked

            $.ajax({
                type:"POST",
                url:"{{ url_for('getLastMeasurementTimestampOfDevicePost') }}",
                data:{deviceUid:clientUid},
                success: function(resp) {
                    var lastMsmtTs = new Date(resp);
                    var tenMinutesAgo = new Date();
                    tenMinutesAgo.setMinutes(tenMinutesAgo.getMinutes() - 10);
                    if (lastMsmtTs < tenMinutesAgo) {
                        setAlertSeverity(statusBox,"alert-info");
                    } else {
                        setAlertSeverity(statusBox,"alert-success");
                    }
                    statusBox.html("Latest data from <time class=\"timeago\" datetime=\"" + lastMsmtTs.toISOString() +"\">"+$.timeago(lastMsmtTs)+"</time>");
                },
                error: function(xhr) {
                    setAlertSeverity(statusBox,"alert-info");
                    statusBox.text("No data");
                }
            });

            $(this).click(function() {
                $.ajax({
                    type:"POST",
                    dataType: "json",
                    url:"{{ url_for('getDeviceStatusPost') }}",
                    data: {deviceUid:clientUid},
                    success: function(resp) {
                        if (!resp.status && resp.inMeasuringMode && !resp.ppHasExited && resp.ppHasWrittenOnce) {
                            if (resp.lastSampleTimestamp) {
                                // check if we wrote to the client side DB
                                var lastSampleTsWrittenOnClient = new Date(resp.lastSampleTimestamp);

                                var samplingInt = resp.measurementSettings.ppSamplingInterval;
                                var nextSamplingDeadline = new Date();
                                nextSamplingDeadline.setMilliseconds(nextSamplingDeadline.getMilliseconds() - 100 * samplingInt);
                                console.log(nextSamplingDeadline);
                                console.log(lastSampleTsWrittenOnClient);
                                if (lastSampleTsWrittenOnClient < nextSamplingDeadline) {
                                    setAlertSeverity(statusBox,"alert-warning");
                                    statusBox.text("Trying to measure, but last client side measurement may be outdated. Check the client for hardware and timing issues.");
                                    return;
                                }
                            }
                            $.ajax({
                                type:"POST",
                                url:"{{ url_for('getLastMeasurementTimestampOfDevicePost') }}",
                                data:{deviceUid:clientUid},
                                success: function(resp) {
                                    var lastMsmtTs = new Date(resp);
                                    var oneHourAgo = new Date();
                                    oneHourAgo.setHours(oneHourAgo.getHours() - 1);
                                    if (lastMsmtTs < oneHourAgo) {
                                        setAlertSeverity(statusBox,"alert-warning");
                                        statusBox.text("Measuring. But latest data is older than one hour.");
                                    } else {
                                        setAlertSeverity(statusBox,"alert-success");
                                        statusBox.text("Measuring");

                                    }
                                },
                                error: function(xhr) {
                                    setAlertSeverity(statusBox,"alert-info");
                                    statusBox.text("Measuring. Waiting on data.");
                                }
                            });
                        } else {
                            setAlertSeverity(statusBox,"alert-warning");
                            statusBox.text("Not measuring");
                        }
                    },
                    error: function(xhr) {
                        resp = xhr.responseJSON;
                        setAlertSeverity(statusBox,"alert-primary");
                        if (resp && resp.status) {
                            statusBox.text(resp.status);
                        } else {
                            statusBox.text("ERROR. Check page for status")
                        }
                    }
                });
        
              });
            });
    });
</script>
{% endblock %}