{% extends "mainlayout.html" %}
{% block title %}Autopower Management Home{% endblock %}
{% block head %}
  {{ super() }}
  <link href="{{ url_for('static', filename='startpage.css') }}" rel="stylesheet" />
{% endblock %}
{% block main %}
<div class="autopowerDevicesList">
    {% for device in autopowerDevices %}
    <div class="autopowerDevice bg-light border p-2 mt-2">
        <h2>{{ device.client_uid | e }}</h2>
        <div class="alert p-2 autopowerDeviceStatus alert-secondary" id="status-{{ device.client_uid | e }}" data-apcluid="{{ device.client_uid | e }}">Unknown</div>
        <div>Last seen <span data-lastseen="{{ device.last_seen | e }}" class="lastSeenTimestamp">{{ getTimeAgo(device.last_seen) | e }}</span></div>
        <div>
            <a href="{{ url_for('deviceManagementPage', deviceUid=device.client_uid) }}">Manage {{ device.client_uid | e }}</a>
        </div>
    </div>
    {% endfor %}
</div>
<script>
    $(document).ready(function() {
        $(".lastSeenTimestamp").each(function() {
            var timeBox = $(this);
            var lsTimestamp = new Date(timeBox.data("lastseen"));

            var longAgo = new Date();
            longAgo.setHours(longAgo.getHours() - 6);
            
            if (lsTimestamp < longAgo) {
                timeBox.addClass("text-warning");
            }
        });
        $(".autopowerDeviceStatus").each(function() {
            // for each status label of the autopower device, check the status
            var clientUid = $(this).data("apcluid");
            var statusBox = $(this);
            $.ajax({
                type:"POST",
                dataType: "json",
                url:"{{ url_for('getDeviceStatusPost') }}",
                data: {deviceUid:clientUid},
                success: function(resp) {
                    if (!resp.status && resp.inMeasuringMode && !resp.ppHasExited && resp.ppHasWrittenOnce) {
                        if (resp.lastSampleTimestamp) {
                            // check if we wrote to the client side DB
                            var lastSampleTsWrittenOnClient = new Date(resp.lastSampleTimestamp);

                            var samplingInt = resp.measurementSettings.ppSamplingInterval;
                            var nextSamplingDeadline = new Date();
                            nextSamplingDeadline.setMilliseconds(nextSamplingDeadline.getMilliseconds() - 100 * samplingInt);
                            console.log(nextSamplingDeadline);
                            console.log(lastSampleTsWrittenOnClient);
                            if (lastSampleTsWrittenOnClient < nextSamplingDeadline) {
                                setAlertSeverity(statusBox,"alert-warning");
                                statusBox.text("Trying to measure, but last client side measurement may be outdated. Check the client for hardware and timing issues.");
                                return;
                            }
                        }
                        $.ajax({
                            type:"POST",
                            url:"{{ url_for('getLastMeasurementTimestampOfDevicePost') }}",
                            data:{deviceUid:clientUid},
                            success: function(resp) {
                                var lastMsmtTs = new Date(resp);
                                var oneHourAgo = new Date();
                                oneHourAgo.setHours(oneHourAgo.getHours() - 1);
                                if (lastMsmtTs < oneHourAgo) {
                                    setAlertSeverity(statusBox,"alert-warning");
                                    statusBox.text("Measuring. But latest data is older than one hour.");
                                } else {
                                    setAlertSeverity(statusBox,"alert-success");
                                    statusBox.text("Measuring");

                                }
                            },
                            error: function(xhr) {
                                setAlertSeverity(statusBox,"alert-info");
                                statusBox.text("Measuring. Waiting on data.");
                            }
                        });
                    } else {
                        setAlertSeverity(statusBox,"alert-warning");
                        statusBox.text("Not measuring");
                    }
                },
                error: function(xhr) {
                    resp = xhr.responseJSON;
                    setAlertSeverity(statusBox,"alert-primary");
                    if (resp && resp.status) {
                        statusBox.text(resp.status);
                    } else {
                        statusBox.text("ERROR. Check page for status")
                    }
                }
            });
        });
    });
</script>
{% endblock %}